body {
  margin: 0 50px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: thin;
  
}

#headerLogo {
  text-align: center;
  margin-top: 0px;
  /* margin-bottom: -5px; */
}

header {
  text-align: center;
}

.flex-container2 {
  /* vertical-align: middle; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch; 
  background-color: #eeeeee;
  border-color: #d3d3d3;
  border-radius: 20px;
}

.flex-container3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 45px;
}



main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #eeeeee;
  /* margin: 0 25px; */
}

main {
  font-family:'Poppins', serif;
  padding-top: 10px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: thin;
  color: #847d7f; 
  
  /* margin-top: 45px; */
  
}

main, h3 {
  font-weight: boldest;
}


main, h4 {
  margin-top: -5px;
  margin-bottom: 5px;
}

main, p {
  margin-top: 5px;
  margin-bottom: 45px;
}

main, img {
  margin-top: 45px;
  border-radius: 20px;
 
}



wineImg {
  width: 100%;
  display: block;

}






#bckgroundImg {
  
  box-shadow: 2px 0px 1px 3px #dedede;
  margin-top: 0;
  border-radius: 45px;
}



#button2 {
  border-radius: 10px;
  width: 100px;
  height: 30px;
}

#select-wine {
  border-radius: 10px;
  width: 200px;
  height: 30px;
}

h1 {
 
  color: #847d7f; 
  font-family:'Amatic SC', serif; 
  font-size: 50px; 
  text-align: center;
  /* margin-left: 100px; */
 
  
}
body {
  margin: 0 50px;
}

main {
  /* font-size: medium; */
  text-align: center;
  
}


footer {
  font-size: 27px;
  text-align: center;
  font-family:'Poppins', serif;
  color: #847d7f; 
  
  
}



}
/* img[alt="footer logo"] {
   filter: invert(1); 
  
  
  
}

footer {
  position: relative;
  /* height: 40px; */
  /* text-align: center; */
  /* margin-top: px; */
  /* margin-right: auto;
  display: block; */
  
  /* background-color: #f2f2f2;
  margin-top: -55px; 
  height: 20px;
  padding-bottom: 100px; */ 
   
  /* padding-right: 30px; */
  /* padding-top: 0px; */
 
/* } */

@media only screen and (max-width: 670px) {
  #bckgroundImg {
     max-width: 60%; 
  }
  h1 {
    font-size: 38px;
  }

  #headerLogo {
    width: 60%;
  }
  body {
    margin: 0 25px;
  }
  footer {
    font-size: 23px;
  }
}
