body {
  margin: 0 50px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: thin;
  
}

#headerLogo {
  text-align: center;
  margin-top: 0px;
  /* margin-bottom: -5px; */
}

header {
  text-align: center;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: #eeeeee;
  border-color: #d3d3d3;
}

.flex-container3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 45px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  background-color: #eeeeee;
  /* margin: 0 25px; */
  



}

main {
  font-family:'Poppins', serif;
  padding-top: 10px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: thin;
  color: #847d7f; 
  
  /* margin-top: 45px; */
  
}

main, h3 {
  font-weight: bold;
}


main, h4 {
  margin-top: -5px;
  margin-bottom: 5px;
}

main, p {
  margin-top: 5px;
  margin-bottom: 45px;
}

main, img {
  box-sizing: border-box;
  margin-top: 45px;
}



wineImg {
  width: 100%;
  display: block;

}






#bckgroundImg {
  
  box-shadow: 2px 0px 1px 3px #dedede;
  margin-top: 0;
}



#button2 {
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

#select-wine {
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

h1 {
 
  color: #847d7f; 
  font-family:'Amatic SC', serif; 
  font-size: 50px; 
  text-align: center;
  
}








  
  








/* #wine-results {
  background-color:rgb(207, 205, 177); */
}

/* .wine-item {
  
 padding-top: 50px;
  margin: 10px;
  text-align: center; */
}

/* .wine-img {
  text-align: center;
  display: block;
  width: 100%;
} */
/* 
#wine-results {
  width: 50%;
  height: 500px;
  border-radius: 30px;
  box-shadow: 0 5px 10px 2px grey; */
}

footer {
  position: relative;
  height: 40px;
  text-align: center;
  margin-top: px;
  margin-right: auto;
  display: block;
  background-color: #d9d9d9;
  padding-right: 30px;
  padding-top: 0px;
}
img[alt="footer logo"] {
  filter: invert(1);
}

@media only screen and (max-width: 622px) {
  
}